# Querying Relational Database Systems

This notebooks shows how to query data in relational database systems.

In [1]:
%load_ext raw_magic

The first step is to register credentials.

For the purposes of this notebook, we assume there is a credential registered for a PostgreSQL server under name `psql01`.

In [6]:
%rdbms_show psql01

type: postgresql
host: test-psql.raw-labs.com
port: 5432
database: demos
username: rawtest
password: None

(Password is shown as None because it is hidden from the API response for public clients.)

We can now list schemas and tables in this server as in:

In [16]:
%%rql

SELECT * FROM LS_SCHEMAS("pgsql:psql01")

In [17]:
%%rql

SELECT * FROM LS_TABLES("pgsql:psql01/public")

Finally, we can do query over a table as:

In [23]:
%%rql

SELECT * FROM READ_PGSQL("psql01", "public", "movies") LIMIT 10

Note that many operations will be pushed down and executed in the database system directly.

In [25]:
%%rql

SELECT * FROM READ_PGSQL("psql01", "public", "movies") WHERE startyear=1935 LIMIT 10

**Next:** [Debugging Queries](Debugging%20Queries.ipynb)